@import "../colors.scss";

.checkbox {
  display: flex;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;

  .label {
    user-select: none;
  }
}

.checkbox.disabled {
  color: $disabled-grey;
}
